[Unit]
Description=Pager Service
 
[Service]
ExecStart=/home/pi/pagerpi/pagerTestV020.py
StandardOutput=null
 
[Install]
WantedBy=multi-user.target
Alias=pager.service
