[Unit]
Description=Pager Service
 
[Service]
ExecStart=/home/pi/pagerpi/pagerpi
StandardOutput=null
User=pi
 
[Install]
WantedBy=multi-user.target
Alias=pager.service
