[Unit]
Description=Update Pager Software
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/pi/pagerpi/updates/live-update

[Install]
WantedBy=pager.service